@*@await Component.InvokeAsync("_DefaultBanner")*@

@model List<ResultBannerDto>

<link href="~/VillaAgency-1.0.0/assets/css/custom-public-defaultBanner.css" rel="stylesheet"  />

<div class="main-banner">
    <div class="owl-carousel owl-banner">
        @foreach(var banner in Model)
        {
            <div class="item" style="background-image: url('@banner.ImageUrl');">
                <div class="header-text">
                    <span class="category">@banner.City</span>
                    <h2>@Html.Raw(banner.Title)</h2>
                </div>
            </div>
        }
    </div>
</div>