<button class="sidebar-toggle" type="button" data-sidebar-toggle aria-controls="adminSidebar" aria-expanded="true" aria-label="Toggle sidebar">
    <span></span>
    <span></span>
    <span></span>
</button>

<form class="d-none d-md-flex ms-3 flex-grow-1" role="search">
    <input class="form-control search-input" type="search" placeholder="Search users, orders, reports" aria-label="Search">
</form>