.accordion-item {
    border: none !important;
    border-bottom: 1px solid #eee !important;
    margin-bottom: 0px !important;
}

.accordion-button {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #1e1e1e !important;
    background-color: #fff !important;
    padding: 20px 0px !important;
    box-shadow: none !important;
}

    .accordion-button.collapsed {
        color: #1e1e1e !important;
    }

    .accordion-button:not(.collapsed) {
        color: #f35525 !important;
        background-color: #fff !important;
        box-shadow: none !important;
    }

    .accordion-button::after {
        display: none !important;
    }

.accordion-body {
    padding: 0px 0px 20px 0px !important;
    color: #4a4a4a !important;
    font-size: 15px !important;
    line-height: 2em !important;
}

.info-table ul li {
    display: flex !important;
    align-items: flex-start !important;
    / gap: 20px !important;
    margin-bottom: 35px !important;
}

    .info-table ul li img {
        flex-shrink: 0 !important;
    }

.info-table .info-text-wrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    text-align: left !important;
}

    .info-table .info-text-wrapper h4 {
        font-size: 20px !important;
        font-weight: 700 !important;
        color: #1e1e1e !important;
        margin: 0px 0px 5px 0px !important;
        line-height: 1.2 !important;
    }

    .info-table .info-text-wrapper span {
        font-size: 14px !important;
        color: #aaaaaa !important;
        line-height: 1.5 !important;
        display: block !important;
        word-break: break-word !important;
    }