<footer class="admin-footer opacity-75">
    <div class="container-fluid px-3 px-lg-4 d-flex justify-content-between align-items-center small">
        <span>
            &copy; 2026 <b>VillaAgency</b>. Built by
            <a target="_blank" class="text-primary fw-bold" href="https://github.com/melisakkus">Melisa Akkuş</a>
        </span>
        <span>
            <a target="_blank" class="text-secondary mx-2 text-decoration-none" href="https://github.com/HasanMahmudDev" title="Developer: Md. Hasan Mahmud">Template Design</a> •
            <a target="_blank" class="text-secondary mx-2 text-decoration-none" href="https://themewagon.com" title="Distributed by ThemeWagon">ThemeWagon</a>
        </span>
    </div>
</footer>